@charset "utf-8";
@import "./darkstyles.css" (prefers-color-scheme: dark);
@import "./lightstyles.css" (prefers-color-scheme: light);


body {
    font-size: 15px;
}

.title {
    color: unset;
}

.navbar-burger {
    color: white;
}

.navbar-burger:hover {
    color: white;
}


.hero.is-primary .navbar-item, .hero.is-primary .navbar-link {
    color:  unset;
}

.card-header {
    box-shadow: unset;
}

.card-footer {
    border-top: unset;
}

.table th, .table td {
    vertical-align: middle;
}

.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media screen and (max-width: 1024px) {
}